@font-face {
    font-family: Gravitica;
    src: url(assets/fonts/ckhans-fonts-gravitica-light-demo/ckhans-fonts-gravitica-light-demo.otf);
}

html, body {
  margin: 0;
}

#root {
  width: 100%;
  /* font-family: Gravitica; */
}

body {
  margin: 0;
  padding: 0;
  background-color: #181818;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
  gap: 1rem;
  text-align: center;
  min-height: 80vh;
  margin-top: 2rem;

  .card {
    color: white;
    width: 280px;
    height: 340px;
    background-color: #252525;
    border: 1px solid white;
    border-radius: 15px;
    padding-top: 0.7rem;
    font-family: Gravitica;

    img {
      width: 260px;
      height: 260px;
      border-radius: 15px;
    }
  }
  .card:hover {
    background-color: #3b3b3b;
  }
}
