@font-face {
    font-family: Gravitica;
    src: url(assets/fonts/ckhans-fonts-gravitica-light-demo/ckhans-fonts-gravitica-light-demo.otf);
}

@font-face {
  font-family: Cinzel;
  src: url(assets/fonts/Cinzel/Cinzel-VariableFont_wght.ttf);
}

@font-face {
  font-family: Ditty;
  src: url(assets/fonts/Ditty.ttf);
}

html, body {
  margin: 0;
  background-image: url(assets/attack-on-titan-colossal-eren-image.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

#root {
  width: 100%;
    .header {
      display: flex;
      justify-content: space-between;
      h1 {
        font-family: Ditty;
        color: rgb(208, 238, 187);
        font-size: 3rem;
        margin-top: 10px;
        letter-spacing: 3px;
        text-align: center;
        margin: 0 auto;
        margin-top: 1rem;
      }

      .aotLogo {
        position: absolute;
        text-align: left;
        width: 305px;
        height: 120px;
        top: -1%;
        right: 22%;
      }

      .scoreboard {
        p {
          margin: 10px 30px 0;
          font-size: 2rem;
          font-family: Ditty;
          color: bisque;
          letter-spacing: 2px;

          span{
            font-family: Gravitica;
          }
        }
      }
    } 
}

body {
  margin: 0;
  padding: 0;
  background-color: #181818;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
  gap: 1rem;
  text-align: center;
  min-height: 80vh;
  margin-top: 2rem;

  .card {
    color: white;
    width: 280px;
    height: 340px;
    background-color: #252525;
    border: 1px solid white;
    border-radius: 15px;
    padding-top: 0.7rem;
    font-family: Gravitica;
    
    p {
      margin-top: 10px;
      font-size: 1.5rem;
      letter-spacing: 1px;
    }

    img {
      width: 260px;
      height: 260px;
      border-radius: 15px;
    }
  }
  .card:hover {
    background-color: #3b3b3b;
  }
}
