/* @font-face {
    font-family: Gravitica;
    src: url(assets/fonts/ckhans-fonts-gravitica-light-demo/ckhans-fonts-gravitica-light-demo.otf);
} */

html, body {
  margin: 0;
  height: 100%;
}

#root {
  display: flex;
  min-height: 100vh;
  width: 100%;
  /* font-family: Gravitica; */
}

body {
  margin: 0;
  padding: 0;
  background-color: wheat;
}

button {
  width: 50%;
}
