html, body {
  margin: 0;
  height: 100%;
}

#root {
  display: flex;
  min-height: 100vh;
  width: 100%;
  font-family: Gravitica;
  --height: min(90vh, 297mm);
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
}
